@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .defaultLayout {
    @apply max-w-[1120px] p-10 m-auto 
  }
}

@font-face {
	font-family: "Comfortaa";
	src: url('@src/../../public/fonts/Comfortaa-Regular.ttf')
}


body {
  margin: 0;
  font-family: 'Comfortaa','ComfortaaBold','ComfortaaLight',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #334155;
}

.react-calendar-timeline .rct-dateHeader-primary {
color:#db2777 !important;
  border-right:none !important;
}
.rct-calendar-header{
  border:none !important;

}